// ===============================================
// BASE
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BODY ===========

html,
body {
    min-height: 100vh;
    overflow-x: $overflow-hidden;
}

body {
    background-color: $background;
}

// =========== IMAGE ===========

img {
    width: $full;
    height: auto;
    object-fit: cover;
}