// ===============================================
// BASE
// ===============================================

// =================== IMPORT ====================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =================== BODY ======================

body {
    color: var(--text);
    background-color: var(--background);
    transition: background-color $transition-theme, color $transition-theme;
}

html,
body {
    min-height: 100vh;
    overflow-x: $overflow-hidden;
}

section {
    .container {
        position: relative;
        width: calc(100% - 34%);

        @include respond-to(sm) {
            width: calc(100% - 10%) !important;
        }

        @include respond-to(xxl) {
            width: calc(100% - 20%);
        }
    }
}
// =================== IMAGE ======================

img {
    width: $full;
    height: auto;
    object-fit: cover;
}