// ========================================
// GENERAL
// ========================================

// ========================================
// IMAGE
// ========================================

img {
    width: $full;
    height: auto;
    object-fit: cover;
}

// ========================================
// TITLES & LINK & TEXT
// ========================================

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: $text-color;
}