// ===============================================
// TYPOGRAPHY
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== IMPORT FONT TITLE ===========

@font-face {
    font-family: "Boxing";
    src: url('../../assets/fonts/Boxing/Boxing-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Boxing/Boxing-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}


// =========== IMPORT FONT TEXT ===========

@font-face {
    font-family: "Supreme";
    src: url('../../assets/fonts/Supreme/Supreme-Light.woff2') format('woff2'),
        url('../../assets/fonts/Supreme/Supreme-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Supreme";
    src: url('../../assets/fonts/Supreme/Supreme-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Supreme/Supreme-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Supreme";
    src: url('../../assets/fonts/Supreme/Supreme-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Supreme/Supreme-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Supreme";
    src: url('../../assets/fonts/Supreme/Supreme-Extrabold.woff2') format('woff2'),
        url('../../assets/fonts/Supreme/Supreme-Extrabold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

// =========== TITLE ===========

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title;
}

// =========== SIZE TITLE ===========

h2, 
.details-large {
    @include title(40px, 72px, 100px);
}

h3, 
.details-medium {
    @include title(36px, 68px, 72px);
}

h4 {
    @include title(25px, 30px, 30px);
}


// =========== SUBTITLE ===========

.subtitle {
    @include subtitle;
}

// =========== TEXT ===========

p,
a,
span {
    @include text;
}

// =========== STRONG ===========

strong {
    font-weight: $strong-weight !important;
}