// ===============================================
// TYPOGRAPHY
// ===============================================

// =================== IMPORT VARIABLE ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =================== IMPORT FONTS ==============

@font-face {
    font-family: "Cyber cipher";
    src: url('../../assets/fonts/title/CyberCipher.woff2') format('woff2'),
        url('../../assets/fonts/title/CyberCipher.woff') format('woff');
}

@font-face {
    font-family: "Orbitron";
    src: url('../../assets/fonts/text/Orbitron-Regular.woff2') format('woff2'),
        url('../../assets/fonts/text/Orbitron-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "Orbitron";
    src: url('../../assets/fonts/text/Orbitron-Medium.woff2') format('woff2'),
        url('../../assets/fonts/text/Orbitron-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "Orbitron";
    src: url('../../assets/fonts/text/Orbitron-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/text/Orbitron-SemiBold.woff') format('woff');
    font-weight: 600;
}

// =================== TITLES ==============

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title;
}

h2 {
    @include title(2.6rem, 5.6rem, 2.8rem);
}

h3 {
    @include title(1.4rem, 5.4rem, 2.4rem);
}

h4 {
    @include title(1.2rem, 5.2rem, 2.2rem);
}

h5 {
    @include title(1rem, 2rem, 2rem)
}

// =================== TEXT ==============

p,
a {
    @include text;
}