// ===============================================
// TYPOGRAPHY
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== TITLE ===========

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title;
}

// =========== SIZE TITLE ===========

h2 {
    @include title(50px, 68px, 80px);
}

h3 {
    @include title(48px, 60px, 79px);
}

h4 {
    @include title(46px, 50px, 78px);
}

h5 {
    @include title(22px, 30px, 50px)
}

// =================== TEXT ==============

p,
a,
span {
    @include text;
}

strong {
    font-weight: 600 !important;
}