// =======================================
// UTILITIES
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== WIDTH ===========

.w-full {
    width: $full !important;
}

// =========== ALIGN ===========

.text-justify {
    text-align: justify;
}

// =========== SUBTITLE ===========

.subtitle {
    @include subtitle;
    
    .br {
        @include respond-to(xxl, min) {
            display: $none !important;
        }
    }
}

// =========== SECTION ===========

.section {
    padding: $padding-section-desktop;

    @include respond-to(sm, max) {
        padding: $padding-section-mobile !important;
    }
}