// =======================================
// UTILITIES
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== HERO ===========

.ka-h-100 {
    
    height: 100svh;

    @include respond-to(sm, max) {
        height: 96svh !important;
    }
}

// =========== PADDING ===========

.ka-padding-section {
    padding: 120px 0;

    @include respond-to(sm, max) {
        padding: $padding-mobile !important;
    }
}

// =========== TEXT ALIGN ===========

.text-justify {
    text-align: justify;
}

// =========== BORDER RADIUS ===========

.ka-radius-sm {
    border-radius: $border-r-sm;
}

.ka-radius-md {
    border-radius: $border-r-md;
}

.ka-radius-lg {
    border-radius: $border-r-lg;
}

// =========== COLOR ===========

.text-primary {
    color: $color-primary !important;
}

// =========== BACKGROUND ===========

.bg-accent {
    background-color: $color-accent !important;
}