// MAX

$max: 100%;

// NONE 

$none: none;

// RADIUS 

$radius: 0.500rem;

// RESPONSIVE 

$mobile-xs: 320px;
$mobile: 480px;
$tablet-m: 991px;
$tablet: 1024px;

// WEIGHT 

$f400: 400;
$f600: 600;
$f700: 700;
$f800: 800;

// PADDING & MARGIN ( POURCENT )

$five-p: 5%;
$ten-p: 10%;

// PADDING 

$zero: 0px;
$eighty: 80px;

// FONT-SIZE

$twelve: 12px;
$twenty: 20px;
$twenty-two: 22px; 

// POSITION 

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// TEXT-TRANSFORM

$uppercase: uppercase;

// BACKGROUND 

$transparent: transparent;