// ===============================================
// MIXINS
// ===============================================

// =========== VARIABLES ===========

@use "variables" as *;

@use "sass:map";

// =========== RESPONSIVE ===========

@mixin respond-to($breakpoint, $type: max) {
    $value: map.get($breakpoints, $breakpoint);

    @if $value ==null {
        $value: $breakpoint;
    }

    @media (#{$type}-width: #{$value}) {
        @content;
    }
}

// =========== BORDER ===========

@mixin border-position($position, $color: var(--border), $width: 1px, $style: solid) {
    @if $position ==all {
        border: #{$width} #{$style} #{$color} !important;
    }

    @else {
        border-#{$position}: #{$width} #{$style} #{$color} !important;
    }
}

@each $pos in $border-positions {
    .border-#{$pos} {
        @include border-position($pos);
    }
}

// =========== HOVER ===========

@mixin hover-effect($color: var(--accent)) {
    @include transition();

    &:hover,
    &:focus,
    &:active {
        color: $color;
    }
}

// =========== TRANSITION ===========

@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
    transition: $property $duration $timing;
}

// =========== COLOR TEXT ===========

@mixin color-text($color: var(--text)) {
    color: $color;
}

// =========== FONTS TEXT ===========

@mixin font-text($font: $font-text) {
    font-family: $font;
}

// =========== TITLE ===========

@mixin title($size-mobile: 3.8rem, $size-tablet: 5.8rem, $size-desktop: 7.5rem, $spacing: 1.2px) {
    @include color-text;
    word-break: break-word;
    letter-spacing: $spacing;
    font-family: $font-title;

    @include respond-to(sm, max) {
        font-size: $size-mobile !important;
    }

    @include respond-to(lg, max) {
        font-size: $size-tablet;
    }

     @include respond-to(xl, max) {
        line-height: 1 !important;
    }

    @include respond-to(xl, min) {
        font-size: $size-desktop !important;
    }
}

// =========== SUBTITLE ===========

@mixin subtitle($size-desktop: 1.3rem, $weight: 700, $spacing: 1.6px) {
    @include color-text;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: $size-desktop;
    font-weight: $weight !important;
    letter-spacing: $spacing;
    @include font-text;
}

// =========== TEXT ===========

@mixin text($size-mobile: 1rem, $size-tablet: 1.2rem, $size-desktop: 1.2rem, $weight: 300, $spacing: 1px, $line-height: 1.3) {
    @include color-text;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $spacing;
    @include font-text;

    @include respond-to(sm, max) {
        font-size: $size-mobile !important;
    }

    @include respond-to(lg, max) {
        font-size: $size-tablet;
    }

    @include respond-to(xl, min) {
        font-size: $size-desktop;
    }
}