// ===============================================
// MIXINS
// ===============================================

// =========== VARIABLES ===========

@use "variables" as *;
@use "sass:map";

// =========== RESPONSIVE ===========

@mixin respond-to($breakpoint, $type: max) {
    $value: map.get($breakpoints, $breakpoint);

    @if $value ==null {
        $value: $breakpoint;
    }

    @media (#{$type}-width: #{$value}) {
        @content;
    }
}

// =========== BORDER ===========

@mixin border-position($position, $color: $text, $width: 1px, $style: solid) {
    @if $position ==all {
        border: #{$width} #{$style} #{$color} !important;
    }

    @else {
        border-#{$position}: #{$width} #{$style} #{$color} !important;
    }
}

@each $pos in $border-positions {
    .border-#{$pos} {
        @include border-position($pos);
    }
}

// =========== TRANSITION ===========

@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
    transition: $property $duration $timing;
}

// =========== FONTS ===========

@mixin font($font-all: $font) {
    font-family: $font-all;
}

// =========== TITLE ===========

@mixin title($size-mobile: 48px, $size-tablet: 80px, $size-desktop: 100px, $spacing: 1.2px) {
    @include font; 
    font-weight: 900 !important;
    word-break: break-word;
    letter-spacing: $spacing;

    @include respond-to(sm, max) {
        font-size: $size-mobile !important;
    }

    @include respond-to(lg, max) {
        font-size: $size-tablet;
    }

    @include respond-to(xl, max) {
        line-height: 1 !important;
    }

    @include respond-to(xl, min) {
        font-size: $size-desktop !important;
    }
}

// =========== SUBTITLE ===========

@mixin subtitle($size-desktop: 26px, $weight: 600, $spacing: 1.6px) {
    @include font; 
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: $size-desktop;
    font-weight: $weight !important;
    letter-spacing: $spacing;
}

// =========== TEXT ===========

@mixin text($size-mobile: 18px, $size-tablet: 19.5px, $size-desktop: 20px, $weight: 300, $spacing: 1px, $line-height: 1.3) {
    @include font; 
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $spacing;

    @include respond-to(sm, max) {
        font-size: $size-mobile !important;
    }

    @include respond-to(lg, max) {
        font-size: $size-tablet;
    }

    @include respond-to(xl, min) {
        font-size: $size-desktop;
    }
}