// ===============================================
// VARIABLES
// ===============================================

// =========== COLORS ===========

$text: #06070E; 
$background: #eaeef2; 

// =========== RESPONSIVE ===========

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1110px,
    xxl: 1280px,
    xxxl: 1400px
);

// =========== BORDER ===========

$border: 1px solid $text;
$border-radius: 2rem;
$border-positions: top, bottom, left, right, all;

// =========== NONE & FULL ===========

$zero: 0;
$block: block;
$full: 100%;
$none: none;

// =========== POSITION ===========

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// =========== OVERFLOW ===========

$overflow-hidden: hidden;

// =========== FONTS ===========

$font: "Orbitron", sans-serif;

// =========== HEADER ===========

$padding-header-mobile: 20px;
$padding-header-desktop: 20px 40px; 

// =========== BRAND ===========

$size-brand: 19px; 
$weight-brand: 800; 
$spacing-brand: 4.5px;

// =========== NAVBAR ICON ===========

$size-icon: 19px;
$margin-left-icon: 4px; 

// =========== NAVBAR ===========

$margin-right-item: 10px; 
$margin-bottom-item: 15px; 

$size-link: 12px;
$weight-link: 500;
$spacing-link: 2px;
$padding-link: 10px 20px;

// =========== BUTTONS ===========

$size-button: 14.5px; 
$weight-button: 600; 
$spacing-button: 3px;
$border-radius-button: 1rem;
$min-width-button: 200px; 

// =========== LANGUAGES ===========

$size-languages: 12px;
$left-languages: 2rem; 
$bottom-languages: 1rem;
$padding-languages: 1rem 1.5rem; 
$radius-flag-languages: 20px;
$width-flag-languages: 20px;
$height-flag-languages: 20px;

// =========== SECTION ===========

$padding-section-mobile: 5rem 1rem;
$padding-section-desktop: 8rem 3rem; 

// =========== MODAL ===========

$size-skill-item-modal: 14px;
$size-icon-modal-header: 27px;
$size-title-modal-header: 20px; 
