// =========== THEMES ===========

$colors: (
    light: (text: #11101e,
        background: #eeecf3,
        primary: #b1a8cd,
        secondary: #766a95,
        accent: #2b2037,
    ),
    dark: (text: #E3E2EF,
        background: #0f0d14,
        primary: #3d3359,
        secondary: #766a95,
        accent: #d4c9e0,
    ),
);

// =========== RESPONSIVE ===========

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
);

// =========== BORDER ===========

$border-positions: top, bottom, left, right, all;

// =========== ANIMATIONS ===========

$transition-theme: 0.3s ease;

// =========== NONE & FULL ===========

$zero: 0;
$block: block;
$full: 100%;
$none: none;

// =========== POSITION ===========

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// =========== OVERFLOW ===========

$overflow-hidden: hidden;

// =========== FONTS ===========

$font-title: "Cyber cipher", sans-serif;
$font-text: "Orbitron", sans-serif;

// =========== PADDING ===========

$k-padding-s: 2rem;

// =========== HEADER ===========

$height-header-mobile: 90px;
$height-header-tablet: 120px;