@use "../abstracts/variables" as *;

// =======================================
// GENERAL
// ======================================= 

@each $mode, $palette in $colors {
    .theme-#{$mode} {
        @each $key, $value in $palette {
            --#{$key}: #{$value};
        }
    }
}

body {
    color: var(--text);
    background-color: var(--background);
    transition: background-color $transition-theme, color $transition-theme;
}

// =======================================
// LOGO & BUTTON SWITCH
// ======================================= 

.brand,
#theme-toggle {
    &.is-light {

        #logo-dark {
            display: none;
        }

        #logo-light {
            display: block;
        }

        #logo-dark,
        #icon-sun {
            display: $none !important;
        }

        #logo-light,
        #icon-moon {
            display: $block !important;
        }
    }
}

.brand,
#theme-toggle {
    position: $relative;

    #logo-dark,
    #icon-sun {
        display: $block;
    }

    #logo-light,
    #icon-moon {
        display: $none;
    }

    #logo-light {
        top: $zero;
        left: $zero;
        position: $absolute;
    }
}

#theme-toggle {
    i {
        font-size: 30px;
    }
}