// =======================================
// STYLE
// =======================================

// =========== ABSTRACTS ===========

@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

// =========== BASE ===========

@use "base/reset"; 
@use "base/base"; 
@use "base/typography"; 
@use "base/utilities";

// =========== BASE ===========

@use "layout/header";
@use "layout/sidebar";
@use "layout/footer";

// =========== COMPONENTS ===========

@use "components/loader";
@use "components/navbar";
@use "components/buttons";
@use "components/languages";
@use "components/moving";
@use "components/card";
@use "components/modal";

// =========== PAGES ===========

@use "pages/home";
@use "pages/history";
@use "pages/portfolio";

// =========== VENDORS ===========

@use "vendors/bootstrap";