.btn {
    padding: $twenty;
    font-size: 1em;
    @extend %size-btn;
    transition: all 0.3s ease;
    font-family: $text;
}

.btn-pure {
    color: $hope-light;
    background-color: $pure;

    &:hover,
    &:active,
    &:focus {
        color: $pure;
        border-radius: 0px;
        border-top: 1px solid $pure;
        border-bottom: 1px solid $pure;
        background-color: transparent;
    }
}

.btn-pure-all {
    color: $hope-light;
    background-color: $pure;

    &:hover,
    &:active,
    &:focus {
        color: $hope-light;
        background-color: $pure;
    }
}

.btn-hope-medium {
    color: $pure;
    background-color: $hope-medium;

    &:hover,
    &:active,
    &:focus {
        color: $hope-medium;
        border-radius: 0px;
        border-top: 1px solid $hope-medium;
        border-bottom: 1px solid $hope-medium;
        background-color: transparent;
    }
}
.btn-beige {
    color: $hope-dark;
    background-color: $beige;

    &:hover,
    &:active,
    &:focus {
        color: $beige;
        border-radius: 0px;
        border-top: 1px solid $beige;
        border-bottom: 1px solid $beige;
        background-color: transparent;
    }
}