// ===============================================
// BUTTON
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.btn {
    font-size: 22px !important;
    color: var(--text);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: $zero !important;
    font-family: $font-title !important;
}

.btn-h {
    transition: all 0.3s ease-in-out !important;

    &:hover,
    &:focus,
    &:active {
        color: var(--background);
        background-color: var(--text);
    }
}