// =================== IMPORT VARIABLE ===========

@use "../abstracts/variables" as *;



.btn {
    font-size: 17px;
    color: var(--text);
    letter-spacing: 1.6px;
    text-align: center !important;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: $zero !important;
    font-family: $font-title;
    transition: all 0.3s ease-in-out !important;

    i {
        display: $none;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: var(--secondary);

        i {
            display: $block !important;
            margin-left: 15px;
        }
    }
}