// ===============================================
// CARDS
// ===============================================

// =========== IMPORT VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.card {
    border-radius: $zero !important;
}

.card-service {
    min-height: 500px;
    overflow: $overflow-hidden;
    background-color: var(--background);
    transition: background-color 0.3s ease, padding 0.3s ease;

    &:nth-child(1),
    &:nth-child(3) {
        border-right: 1px solid var(--border);
    }

    &:hover,
    &:focus,
    &:active {
        .card-title {
            transform: translateY(-230px);

            @include respond-to(lg) {
                transform: translateY(-204px);
            }
        }

        #card-title {
            @include respond-to(sm) {
                transform: translateY(-210px) !important;
            }
        }

        .card-text {
            bottom: 0;
        }
    }

    .card-number {
        width: 120px;
        z-index: 3;

        @include respond-to(sm) {
            width: 140px !important;
        }

        @include respond-to(lg) {
            width: 220px;
        }
    }

    .card-title,
    .card-text {
        position: $absolute;
    }

    .card-title {
        left: 4rem;
        bottom: 20px;
        transition: transform 0.4s ease;

        .subtitle {
            @include respond-to(lg) {
                font-size: 1.4rem;
            }
        }

        @include respond-to(sm) {
            left: 2rem !important;
        }
    }

    .card-text {
        left: 0;
        padding: 4rem;
        bottom: -100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        transition: bottom 0.4s ease;

        @include respond-to(sm) {
            padding: 2rem !important;
        }
    }
}