// ===============================================
// HOME
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== PROJECTS ===========

.card-project {
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.05);
    }

    img {
        height: 800px;

        @include respond-to(sm, max) {
            height: 300px !important;
        }
    }

    &__title-number {
        .subtitle {
            font-size: 15px !important;
        }
    }
}