// ===============================================
// CARD
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========

.ka-card {
    border: $none;

    &:hover .overlay {
        opacity: 1;
    }

    &__img {
        width: $width-full;
        aspect-ratio: 4 / 3;
        overflow: $hidden;
        cursor: pointer;
        box-shadow: $zero $zero $zero $zero $color-text;
        transition: box-shadow 0.55s cubic-bezier(0.16, 1, 0.3, 1);

        img {
            width: $width-full;
            height: $height-full;
            object-fit: cover;
            display: $block;
            transition: transform 0.65s cubic-bezier(0.16, 1, 0.3, 1);
        }
    }

    .project-img-desktop {
        @include respond-to(sm, max) {
            display: $none !important;
        }
    }

    .project-img-mobile {
        display: $none;

        @include respond-to(sm, max) {
            display: $block !important;
        }
    }

    .overlay {
        inset: $zero;
        background: rgba($color-text, 0.75);
        opacity: $zero;
        position: $absolute;
        border-radius: $border-radius-lg;
        transition: opacity 0.4s ease;

        &__title {
            color: $color-text !important;
            font-size: 32px !important;
        }
    }

    &__project-content {

        .title,
        .project-year {
            font-weight: 800 !important;
        }
    }
}