// ===============================================
// CATEGORY
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.category {
    @include respond-to(sm, max) {
        flex-direction: $column !important;
    }

    p {
        font-size: $size-category !important;
        margin-right: $size-marg-category;

        @include respond-to(sm, max) {
            &:not(:last-child) {
                margin-top: $top-category;
            }
        }
    }
}