// =======================================
// COMING
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========

.ka-coming-soon {
    z-index: 200;
    width: $width-full;
    height: 100vh;

    &__content {
        h1 {
            color: $color-background !important;
        }
    }
}