// ===============================================
// HERO
// ===============================================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.ka-hero {
    overflow: $hidden;

    .ka-hero__image {
        inset: -20px;
        @include bg-cover;
        background-position: center;
        position: $absolute;
        transition: transform 0.2s ease-out;
        z-index: 1;
        background-image: url("../../assets/img/banner/kahinadev-cyberpunk-warrior-city-mobile.webp");

        @include respond-to(md) {
            background-image: url("../../assets/img/banner/kahinadev-cyberpunk-armor-burning-city-desktop.webp");
        }

        &::before {
            @include respond-to(xxl) {
                content: '';
                inset: 0;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.30);
                position: $absolute;
            }
        }
    }

    &__content {
        z-index: 2;
        padding: 2rem;

        @include respond-to(xxl) {
            padding: 0 5rem;
        }
    }
}