// ===============================================
// SIDEBAR
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========

.ka-hero {
    padding-top: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../../../../htdocs/kahinadev/assets/img/banner/kahinadev-background-banner.webp");

    @include respond-to(sm, max) {
        padding: 7rem 0.5rem 0rem 0.5rem !important;
    }

    .title {
        @include respond-to(sm, max) {
            line-height: 1 !important;
        }

        br {
            display: $none;

            @include respond-to(sm, max) {
                display: $block !important;
            }
        }
    }

    &__img {
        top: 8rem;
        width: 45%;
        margin-left: 10rem;
        height: $height-full;
        position: $fixed !important;

        @include respond-to(sm, max) {
            right: 2rem !important;
            top: 4rem !important;
            width: 85% !important;
            height: $height-full !important;
        }

        @include respond-to(lg, max) {
            top: 0rem;
            width: $width-full;
            margin-left: -5rem !important;
        }
    }

    .scroll-indicator {
        bottom: 50px;
        position: $absolute;

        span {
            font-weight: 800;
            color: $color-accent;
        }
    }
}