// =======================================
// IMAGES
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========

.ka-img-desktop {
    @include respond-to(sm, max) {
        display: $none;
    }
}

.ka-img-mobile {
    display: $none;

    @include respond-to(sm, max) {
        display: $block !important;
    }
}