// ===============================================
// HERO
// ===============================================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// -----------------------------------------------
// Desktop
// -----------------------------------------------

.ka-img-desktop {
    display: $none; 

    @include respond-to(md) {
        display: $block !important;
    }
}

// -----------------------------------------------
// Mobile
// -----------------------------------------------

.ka-img-mobile {
    display: $block;

    @include respond-to(md) {
        display: $none !important;
    }
}