// ===============================================
// lANGUAGE & STACK
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.language,
.tech-stack {
    bottom: $zero;
    width: 17%;
    z-index: 12;
    position: $fixed;
    background-color: var(--background);

    a {
        &:hover,
        &:focus,
        &:active {
            border: $none !important;

            i {
                margin-left: 0 !important;
            }
        }
    }

    .flag,
    i {
        margin-right: 10px;

        @include respond-to(lg) {
            font-size: 19px;
            margin-right: $zero !important;
        }
    }

    span {
        @include respond-to(lg) {
            display: $none !important;
        }
    }
}

.language {
    left: $zero;
    position: $fixed;

    .flag {
        height: 20px;
        width: 20px;
    }
}

.tech-stack {
    right: $zero;
}