// ===============================================
// LANGUAGES
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.languages {
    left: $left-languages;
    bottom: $bottom-languages;
    position: $fixed;
    font-size: 14px !important;
    font-weight: 800 !important;
    font-family: $font-text;
    text-transform: $uppercase;
    padding: $padding-languages;

    .flag {
        margin-right: 10px;
        width: $width-flag-languages;
        height: $height-flag-languages;
    }
}