// =================== IMPORT VARIABLE ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.vertical-line {
    top: $zero;
    width: 1px;
    height: $full;
    z-index: 2;
    position: $fixed;
    background-color: var(--border);
}

.vertical-line-left {
    left: 17%;

    @include respond-to(sm) {
        left: 5% !important;
    }

    @include respond-to(xxl) {
        left: 10%;
    }
}

.vertical-line-right {
    right: 17%;

    @include respond-to(sm) {
        right: 5% !important;
    }

    @include respond-to(xxl) {
        right: 10%;
    }
}