// =======================================
// LINES
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========

.ka-lines {
    &__inner {
        top: $zero;
        left: $zero;
        z-index: $zero;
        width: $width-full;
        height: 100vh;
        pointer-events: $none;

        span {
            width: 1px;
            z-index: -3;
            height: $height-full;
            opacity: 0.7;
            background: $color-accent;

            &:nth-child(1),
            &:nth-child(3) {
                @include respond-to(sm, max) {
                    display: $none !important;
                }
            }

             &:nth-child(1) {
                left: 8%;
            }

            &:nth-child(2) {
                left: 50%;
            }

            &:nth-child(3) {
                left: 92%;
            }
        }
    }
}