// ========================================
// GENERAL
// ========================================
.line {
    width: 1px;
    height: $full;
    position: fixed;
    z-index: -11;
    background-color: $text-color;
}

// ========================================
// LEFT
// ========================================
.line-left {
    left: $line-left-desktop;

    @include respond-to(sm) {
        left: $line-left-mobile !important;
    }

    @include respond-to(xl) {
        left: $line-left-tablet;
    }
}

// ========================================
// RIGHT
// ========================================
.line-right {
    right: $line-right-desktop;

    @include respond-to(sm) {
        right: $line-right-mobile !important;
    }

    @include respond-to(xl) {
        right: $line-right-tablet;
    }
}