// ===============================================
// LIST
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== PROJECTS ===========

.list-project {
    li {
        position: $relative;

        &:not(:last-child) {
            margin-bottom: $k-margin-s;
        }

        &:hover,
        &:focus,
        &:active {
            .list-project__content {
                opacity: 0.7;
                transform: translateY(-10px);
            }

            img {
                opacity: 1;
                z-index: 5 !important;
                border-radius: $k-padding-m;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }

    &__content {
        position: $relative;
        transition: transform 0.3s ease, opacity 0.3s ease;

        .subtitle {
            color: var(--accent) !important;
        }
    }

    &__image {
        top: 50%;
        left: 50%;
        z-index: 5;
        opacity: 0;
        position: $absolute;
        max-width: 600px;
        max-height: 600px;
        pointer-events: $none;
        transform: translate(-50%, -50%) scale(0.8);
        transition: transform 0.5s ease, opacity 0.5s ease;

        @include respond-to(sm, max) {
            max-width: 320px;
            max-height: 320px;
        }
    }
}

// =========== CONTACT ===========


.contact-button {
    display: $block;

    i {
        margin-right: 5px;
    }
}