// ===============================================
// LIST
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== PROJECTS ===========

.list-projects {
    .nav-item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        // =========== LINK ===========

        .nav-link {
            overflow: $overflow-visible;
            z-index: 1;

            &:hover {
                .project-image {
                    opacity: $opacity-hover;
                    transform: translateY(-50%) translateX(0);
                }
            }

            // =========== INITIAL ===========

            .project-number,
            .project-name-category,
            .project-arrow {
                padding: $padding-list;
                border: $list-border;
            }

            .project-number,
            .project-arrow {
                width: 18%;

                @include respond-to(sm, max) {
                    display: $none !important;
                }
            }

            // =========== NAME & CATEGORY ===========

            .project-name-category {
                width: 70%;
                margin: $zero 15px;

                @include respond-to(sm, max) {
                    width: $full !important;
                    margin: $zero !important;
                    flex-direction: $column !important;
                }

                .available,
                .soon {
                    margin-top: 5px;
                }
            }

            // =========== ARROW ===========

            .project-arrow {
                font-size: 20px;

                i {
                    margin-top: $icon-margin;

                    @include respond-to(sm, max) {
                        margin-top: 15px;
                        margin-left: -6px;
                    }
                }
            }

            // =========== IMAGE ===========

            .project-image {
                position: $absolute;
                width: 30%;
                z-index: 10;
                opacity: $opacity;
                height: $height-image-desktop;
                margin-left: 20%;
                pointer-events: $none;
                transform: translateY(-50%) translateX(20px);
                transition: opacity 0.4s ease, transform 0.5s ease;

                @include respond-to(sm, max) {
                    width: 85% !important;
                    height: $height-image-mobile;
                    margin-left: 0% !important;
                }

                @include respond-to(xxl, max) {
                    width: 60%;
                    margin-left: 12%;
                }
            }
        }

    }
}

// =========== CONTACT ===========

.list-contact {
    .a-contact {
        transition: background-color 0.5s ease;

        &:hover,
        &:focus,
        &:active {
            color: $background;
            background-color: $hover;
        }
    }

    .subtitle {
        font-size: 18px !important;

        i {
            margin-right: $icon-margin;
        }
    }
}

// =========== QUALITIES & VALUES ===========

.list-qualities,
.list-values {

    // =========== INITIAL ===========

    .icon-list,
    .qualities-name,
    .values-name {
        padding: $padding-list;
        border: $list-border;
    }

    // =========== WIDTH ===========

    .icon-list {
        width: 20%;

        @include respond-to(sm, max) {
            margin-right: 8px;
        }

        i {
            @include respond-to(sm, max) {
                margin-left: -8px;
            }
        }
    }

    .qualities-name,
    .values-name {
        width: 75%;
    }
}