// ===============================================
// LOADER
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========
#loader {
    top: $zero;
    left: $zero;
    width: $full;
    height: $full;
    position: $fixed;
    z-index: 999;
    opacity: 1;
    background-color: $text !important;
    transition: opacity 0.8s ease !important;

    .loader-content {
        p {
            color: $background !important;
        }

        .subtitle {
            font-size: 45px !important;
            transition: opacity 0.5s ease;
        }
    }

    &.hidden {
        opacity: $zero;
        pointer-events: none;
    }
}