// ===============================================
// MOVING
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========
.ka-marquee {
    height: 65vh;
    min-height: 240px;
    overflow: $hidden;
    gap: 1.2rem;

    @include respond-to(sm, max) {
        height: 45vh !important;
    }

    @include respond-to(lg, max) {
        height: 33vh;
        margin-bottom: -4rem !important;
    }

    &__wrapper {
        gap: 1.2rem;
        width: 120%;
        margin-left: -10%;
        transform: rotate(-6deg);
    }

    &__track {
        overflow: $hidden;
    }

    &__row {
        will-change: transform;
    }

    &__item {
        display: inline-flex;
        align-items: $center;
        font-weight: 700 !important;
        line-height: 1;
        text-transform: uppercase;
        padding: $zero $zero.28em;
        flex-shrink: $zero;
        font-family: $font-title;
        font-size: clamp(4rem, 9vw, 9rem) !important;
    }

    .row-1 .ka-marquee__item {
        color: $color-text;
    }

    .row-2 .ka-marquee__item {
        color: transparent;
        -webkit-text-stroke: 3px $color-accent;
    }

    &__dot {
        top: -0.06em;
        width: $marquee-dot-width;
        height: $marquee-dot-height;
        margin: $zero 2.6em;
        border-radius: $marquee-dot-radius;
        display: inline-block;
        position: $relative;
        background: $color-accent;
        vertical-align: middle;
    }
}