// =======================================
// MARQUEE
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.ka-marquee {
    width: $width-full;
    overflow: $hidden;
    display: $flex;
    gap: 1rem;
    padding-block: 16px;

    &__track {
        width: $width-full;
        overflow: $hidden;
    }

    &__row {
        will-change: transform;
    }

    &__item {
        align-items: $center;
        line-height: 1;
        flex-shrink: 0;
        display: inline-flex;
        font-family: $font-title;
        text-transform: uppercase;
        font-size: clamp(3rem, 8vw, 8rem);
    }

    &__dot {
        top: -0.06em;
        width: $marquee-dot-width;
        height: $marquee-dot-height;
        margin: $zero 2.6em;
        border-radius: $marquee-dot-radius;
        display: inline-block;
        position: $relative;
        background: $color-accent;
        vertical-align: middle;

        @include respond-to(sm, max) {
            margin: $zero 1.6em !important;
            width: $marquee-dot-width-mobile !important;
            height: $marquee-dot-height-mobile !important;
        }
    }
}

.ka-marquee__row {
    &--1 .ka-marquee__item {
        color: $color-text;
    }

    &--2 .ka-marquee__item {
        color: $color-primary;
    }
}