// =======================================
// MODAL
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.modal {

    .modal-header,
    .modal-body,
    i {
        color: $background !important;
        border-bottom: $none !important;
    }

    .modal-header {
        h5 {
            font-size: $size-title-modal-header !important;
        }

        i {
            font-size: $size-icon-modal-header !important;
        }
    }

    .modal-body {
        .skill-item {
            font-size: $size-skill-item-modal !important;
            border-color: $background !important;
        }
    }
}