// ===============================================
// MOVING
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========
.moving {
    &__track {
        white-space: nowrap;
        animation: move linear 15s infinite;
    }

    &__item {
        font-size: 17px !important;
        font-weight: 800 !important;
        margin-right: 15px;
    }
}

// =========== KEYFRAMES ===========

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .moving__track {
        animation: none;
    }
}