// ===============================================
// MOVING
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.moving {
    overflow: $overflow-hidden;
    position: $relative;
    margin-top: 4rem;

    @include respond-to(xl, max) {
        margin-top: 2rem !important;
    }

    // =========== MOVING TRACK ===========
    
    &__track {
        display: $flex !important;
        white-space: $no-wrap-moving;
        width: $max-content-moving;
        margin: $margin-moving;
        animation: move linear 165s infinite;
    }

    &__item {
        font-size: $size-item-moving !important;
    }
}

// =========== KEYFRAMES ===========

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .moving__track {
        animation: $none;
    }
}