// ===============================================
// NAVBAR
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.navbar {
    // =========== LINKS ===========

    .nav-item {
        &:not(:last-child) {
            margin-right: $margin-right-item;

            @include respond-to(xl, max) {
                margin-right: $zero !important;
                margin-bottom: $margin-bottom-item;
            }
        }

        .nav-link {
            font-size: $size-link !important;
            font-weight: $weight-link;
            padding: $padding-link;
            letter-spacing: $spacing-link;
            @include transition;

            @include respond-to(lg, max) {
                border-color: $background !important;
            }

            &:hover,
            &:focus,
            &:active {
                color: $background;
                background-color: $text;

                @include respond-to(lg, max) {
                    color: $text !important;
                    background-color: $background !important;
                }
            }
        }
    }

    .nav-link,
    .btn-stack {
        @include respond-to(lg, max) {
            color: $background !important
        }
    }
}