// ===============================================
// NAVBAR
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== BASE ===========

.ka-navigation {
    z-index: 8;
    width: calc(100% - 108px);

    @include respond-to(sm, max) {
        width: $width-full !important;
    }

    @include respond-to(lg, max) {
        width: calc(100% - 20px);
    }

    .container-fluid {
        @include respond-to(sm, max) {
            flex-direction: row-reverse;
        }
    }

    &__toggler,
    &__home,
    &__contact {
        width: 33.33%;
    }

     &__toggler,
    &__home {
        @include respond-to(sm, max) {
            width: 50%;
        }
    }

    &__home {
        @include respond-to(sm, max) {
            text-align: $left !important;
        }
    }

    &__toggler {
        @include respond-to(sm, max) {
            justify-content: $right;
        }
    }

    &__contact {
        @include respond-to(sm, max) {
            display: $none !important;
        }
    }

    &__burger {
        gap: 5px;
        .icon {
            flex-direction: $column;

            .line {
                height: 2px;
                border-radius: $border-radius-md;
                background-color: $color-accent;
                transition:
                    background 0.35s ease,
                    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                    opacity 0.3s ease,
                    width 0.3s ease;

                &:nth-child(1),
                &:nth-child(3) {
                    width: 26px;
                }

                &:nth-child(2) {
                    width: 22px;
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        .burger-name {
            font-size: 17.5px;
        }
    }
}