// ===============================================
// PROJECTS
// ===============================================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// -----------------------------------------------
// Initial
// -----------------------------------------------

.list-projects {

    // Item 
    .project-item {
        transition: $transition-list-projects;
        border-color: $color-border !important;

        &:hover {
            padding: 0rem;
            border-bottom: 1px solid $color-accent !important;

            @include respond-to(lg) {
                padding: 2rem !important;
            }

            .project-name,
            .project-number {
                h4 {
                    color: $color-accent;
                }
            }
        }
    }

    // Link
    .project-link {
        flex-direction: column;

        @include respond-to(lg) {
            flex-direction: row;
        }
    }

    // Content 
    .project-content {
        margin: 1rem 0;

        @include respond-to(lg) {
            margin-top: 0rem;
        }

        // Name & number 
        h4 {
            font-size: 40px;

            @include respond-to(lg) {
                font-size: 80px;
            }
        }

        // Tags 
        .project-tags {
            display: $flex;
            flex-wrap: wrap;
        }
    }

    // Image 
    .project-image {
        opacity: $zero;
        position: $absolute;
        width: 480px;
        left: 50%;
        transform: translateX(-50%);
        margin: $zero auto;
        opacity: $zero;
        z-index: 1;
        margin-top: 2%;
        transition: all 0.5s ease-in-out;
        border-color: $color-border;
    }
}