// ===============================================
// SKIP LINK
// ===============================================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.skip-link {
    @include visually-hidden;
    pointer-events: all;

    &:focus {
        top: 10px;
        left: 10px;
        width: $auto;
        height: $auto;
        clip: $auto;
        position: $fixed;
        padding: 10px 16px;
        border: $border;
        z-index: $z-overlay;
        color: $color-text;
        background-color: $color-background;
    }
}