// ===============================================
// FOOTER
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
    h5 {
        font-size: 30px !important;
    }

    .subtitle {
        font-size: 18px !important;
    }

    h6 {
        font-size: 15px !important;
    }
}