// ===============================================
// FOOTER
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
    padding: $footer-padding-desktop;

    @include respond-to(sm, max) {
        text-align: $center;
        padding: $footer-padding-mobile !important;
    }

    .footer-contact {
        @include respond-to(sm, max) {
            justify-content: $center !important;
        }

        // =========== ICON CONTACT ===========

        .a-contact {
            margin-right: $footer-margin;

            i {
                font-size: $footer-icon;
            }

        }
    }

    // =========== VERSION & COPYRIGHT ===========

    .version,
    .copyright {
        @include respond-to(sm, max) {
            text-align: $center !important;
        }
    }

    .version {
        font-weight: $footer-weight-version !important;
        font-size: $footer-size-version !important;
        font-family: $font-text;

        @include respond-to(sm, max) {
            margin-top: $footer-margin;
        }
    }

    .copyright {
        font-size: $footer-size-copyright !important;
    }
}