// =======================================
// HEADER
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.header {
    z-index: 15;
    padding: $padding-header-desktop;

    @include respond-to(sm, max) {
        padding: $padding-header-mobile;
    }

    .navbar {
        .navbar-brand {
            font-size: $size-brand;
            font-weight: $weight-brand;
            letter-spacing: $spacing-brand;
        }

        .navbar-toggler {
            .toggler-icon {
                margin-left: $margin-left-icon; 
                font-size: $size-icon !important;
            }
        }
    }
}