// =======================================
// HEADER
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.header {
    z-index: 15;
    padding: 1rem $zero;

    @include respond-to(sm, max) {
        padding: 0.5rem 1rem !important;
    }

    .navbar {
        .navbar-brand {
            img {
                width: 70px;
            }
        }
    }
}