// =======================================
// HEADER
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.ka-header {
    top: 10px;
    z-index: 150;
    position: $fixed;
    width: $width-full;

    @include respond-to(lg, max) {
        padding: 1rem !important;
    }

    .container {
        @include respond-to(lg, max) {
            flex-direction: row-reverse !important;
        }
    }

    .ka-nav__logo {
        @include respond-to(lg, max) {
            text-align: $left !important;
        }

        img {
            width: 80%;

            @include respond-to(sm, max) {
                width: 80% !important;
                margin-left: -1rem !important;
            }

            @include respond-to(lg, max) {
                width: $width-full !important;
            }
        }
    }

    .ka-nav__contact {
        @include respond-to(lg, max) {
            display: $none !important;
        }
    }
}