// =======================================
// HEADER
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.header {
    .ka-navigation {
        @include respond-to(sm, max) {
            padding: 1rem $zero !important;
        }

        &__burger {
            border: $none !important;
            background-color: transparent !important;
        }

        .logo {
            width: 10%;

            @include respond-to(lg, max) {
                width: 25%;
            }
        }
    }
}