// ===============================================
// SIDEBAR
// ===============================================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// -----------------------------------------------
// Base
// -----------------------------------------------

.ka-sidebar {
    top: $zero;
    right: $zero;
    z-index: $z-menu;
    width: $width-full;
    height: $height-full;
    opacity: $zero;
    overflow-y: $auto;
    visibility: $hidden;
    overflow-x: $hidden;
    border-left: $border-header-frame;
    transform: translateX(100%);
    transition: transform 0.6s ease, opacity 0.4s ease, visibility 0.6s ease;
    background-color: $color-background;

    @include respond-to(lg) {
        width: 480px;
    }

    &.active {
        opacity: 1;
        transform: translateX(0);
        visibility: $visible;
        pointer-events: all;
    }

    // Inner 
    &__inner {
        width: $width-full;
        height: $height-full;
    }

    // Header 
    &__header {
        height: 70px;
        padding: 0 1rem;
        border-bottom: $border-header-frame;

        span {
            font-size: 14px;
            font-weight: 300 !important;
            letter-spacing: 3px;
            font-family: $font-title;
            color: $color-border;
        }
    }

    // Close button 
    &__close {

        &:hover,
        &:focus-visible {
            i {
                color: $color-text;
            }
        }

        i {
            font-size: 22px;
            color: $color-border;
        }
    }

    // Body 
    &__body {
        flex: 1;

        ul {
            width: $width-full;

            @include respond-to(md) {
                text-align: center;
            }

            @include respond-to(xxl) {
                text-align: left;
            }
        }
    }

    // Menu 
    &__menu {
        width: $width-full;
        height: 92%;
        padding: 40px 2rem 0;

        @include respond-to(lg) {
            height: $height-full;
        }

        .ka-link {
            @include link;
        }
    }

    // Footer 
    &__footer {
        border-top: $border-header-frame;

        a {
            font-size: 14px;
            color: $color-border;
        }
    }
}
