// ===============================================
// SIDEBAR
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.navbar-collapse {
    @include respond-to(sm, max) {
        top: 11% !important;
        left: 1rem !important;
    }
    @include respond-to(lg, max) {
        padding: 2rem;
        width: 92%;
        left: 2rem;
        top: 9%;
        z-index: 12;
        position: fixed;
        background-color: $text;
        @include transition;
    }
}