.border-top {
  border-top: 1px solid #2C231E !important;
}

.border-bottom {
  border-bottom: 1px solid #2C231E !important;
}

.border-left {
  border-left: 1px solid #2C231E !important;
}

.border-right {
  border-right: 1px solid #2C231E !important;
}

.bg-light h1,
.bg-light h2,
.bg-light h3,
.bg-light h4,
.bg-light h5,
.bg-light h6,
.bg-light a,
.bg-light p,
.bg-light span,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-primary a,
.bg-primary p,
.bg-primary span,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary h4,
.bg-secondary h5,
.bg-secondary h6,
.bg-secondary a,
.bg-secondary p,
.bg-secondary span {
  color: #2C231E !important;
}

.bg-light {
  background-color: #EBE7E0 !important;
}

.bg-dark,
.bg-accent {
  background-color: #2C231E !important;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark a,
.bg-dark p,
.bg-dark span,
.bg-accent h1,
.bg-accent h2,
.bg-accent h3,
.bg-accent h4,
.bg-accent h5,
.bg-accent h6,
.bg-accent a,
.bg-accent p,
.bg-accent span {
  color: #EBE7E0;
}

.bg-primary {
  background-color: #C5B7AA !important;
}

.bg-secondary {
  background-color: #C8D1C7 !important;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #EBE7E0 !important;
  background-color: #2C231E !important;
}

.btn-light {
  color: #EBE7E0 !important;
  border: 1px solid #EBE7E0 !important;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
  color: #2C231E !important;
  background-color: #EBE7E0 !important;
}

.btn-secondary {
  background-color: #C8D1C7 !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #2C231E !important;
}

.text-justify {
  text-align: justify !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2C231E;
  cursor: pointer;
  scroll-behavior: smooth;
  background-color: #EBE7E0;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

section {
  padding: 11rem 8rem;
}
@media (max-width: 480px) {
  section {
    padding: 5rem 3rem !important;
  }
}
@media (max-width: 992px) {
  section {
    padding: 8rem 7rem;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  color: #9B6A5D;
  margin-right: 10px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #2C231E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  font-weight: 300 !important;
  line-height: 0.9em !important;
  word-wrap: break-word;
  letter-spacing: 0.5px !important;
  font-family: "Arapey", serif !important;
}

h1 {
  font-size: 145px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 55px !important;
  }
}
@media (max-width: 1480px) {
  h1 {
    font-size: 100px;
  }
}

h2 {
  font-size: 110px;
}
@media (max-width: 576px) {
  h2 {
    font-size: 59px !important;
  }
}
@media (max-width: 1480px) {
  h2 {
    font-size: 90px;
  }
}

h3 {
  font-size: 105px;
}
@media (max-width: 576px) {
  h3 {
    font-size: 50px !important;
  }
}
@media (max-width: 1480px) {
  h3 {
    font-size: 80px;
  }
}

h4 {
  font-size: 85px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 26px;
}

p,
a {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.3px;
  font-family: "Work Sans", sans-serif;
}

.subtitle {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.1em;
  letter-spacing: 0.3px;
  font-family: "Arapey", serif !important;
}
@media (max-width: 480px) {
  .subtitle {
    font-size: 20px !important;
  }
}

strong {
  font-weight: 600;
}

.full {
  width: 100%;
}

@media (max-width: 320px) {
  .primary-title {
    font-size: 40px !important;
  }
}

@media (max-width: 320px) {
  .secondary-title {
    font-size: 35px !important;
  }
}

.border {
  border: 1px solid #2C231E !important;
}

.bg-accent {
  background-color: #9B6A5D !important;
}

.header {
  z-index: 1;
  position: relative;
}

.navbar-brand,
.offcanvas-title {
  width: 100%;
  font-weight: 300 !important;
  line-height: 0.9em !important;
  word-wrap: break-word;
  letter-spacing: 0.5px !important;
  font-family: "Arapey", serif !important;
}

.location p {
  border: none !important;
  font-size: 15.5px !important;
}

.navbar .brand,
.navbar .button-menu {
  width: 20%;
}
.navbar .brand {
  height: 77px;
}
@media (max-width: 480px) {
  .navbar .brand {
    padding-left: 24.5px;
  }
}
@media (max-width: 992px) {
  .navbar .brand {
    width: 50%;
    padding-left: 2rem;
  }
}
.navbar .brand .navbar-brand {
  font-size: 30px;
  line-height: 1.5em !important;
}
@media (max-width: 480px) {
  .navbar .brand .navbar-brand {
    font-size: 23px !important;
    line-height: 1.8em !important;
  }
}
.navbar .button-menu {
  padding-left: 5rem;
}
@media (max-width: 480px) {
  .navbar .button-menu {
    padding-right: 24.5px;
    padding-left: 2rem !important;
  }
}
@media (max-width: 992px) {
  .navbar .button-menu {
    width: 50%;
    border-left: none !important;
  }
}
.navbar .button-menu .btn i {
  margin-top: -2px;
}

footer .subtitle {
  font-size: 20px !important;
}
footer a,
footer p {
  font-size: 15px;
}
footer a i,
footer p i {
  color: #2C231E !important;
  font-size: 20px !important;
}
@media (max-width: 480px) {
  footer .services,
  footer .projects {
    text-align: center !important;
  }
}
@media (max-width: 992px) {
  footer .services,
  footer .projects {
    display: flex;
    flex-direction: column !important;
  }
}
@media (max-width: 992px) {
  footer .services br,
  footer .projects br {
    display: none;
  }
}
@media (max-width: 992px) {
  footer .services-second,
  footer .projects {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
footer .infos {
  text-align: center;
}
@media (max-width: 480px) {
  footer .infos {
    text-align: center !important;
    border-bottom: 1px solid #2C231E !important;
  }
}
@media (max-width: 992px) {
  footer .infos {
    text-align: left;
    border-left: none !important;
  }
}
footer .projects {
  text-align: end;
}
@media (max-width: 992px) {
  footer .services,
  footer .services-p {
    display: none !important;
  }
}
footer .services-second {
  display: none;
}
@media (max-width: 480px) {
  footer .services-second {
    text-align: center !important;
  }
}
@media (max-width: 992px) {
  footer .services-second {
    margin-bottom: 1rem !important;
    text-align: end;
    display: block !important;
  }
}
@media (max-width: 992px) {
  footer .reseaux {
    justify-content: left !important;
  }
}
@media (max-width: 480px) {
  footer #reseaux {
    justify-content: center !important;
  }
}
footer .copyright {
  padding: 3rem 0 2rem 0;
}
@media (max-width: 480px) {
  footer .copyright {
    padding: 3rem !important;
  }
}

.reseaux i {
  font-size: 25px;
}

.offcanvas {
  width: 100% !important;
  padding: 5rem;
  background-color: #EBE7E0;
}
@media (max-width: 768px) {
  .offcanvas {
    padding: 2rem 2rem 3rem 2rem !important;
  }
}
.offcanvas .offcanvas-header .offcanvas-title {
  font-size: 30px;
}
.offcanvas .offcanvas-header .offcanvas-title,
.offcanvas .offcanvas-header .btn-menu {
  white-space: nowrap;
}
.offcanvas .offcanvas-body {
  padding: 10rem 0;
}
@media (max-width: 480px) {
  .offcanvas .offcanvas-body {
    padding: 5rem 0 !important;
  }
}
.offcanvas .offcanvas-body .nav-link {
  font-size: 50px;
  color: #2C231E;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .offcanvas .offcanvas-body .nav-link {
    font-size: 40px !important;
  }
}
.offcanvas .offcanvas-body .nav-link:hover, .offcanvas .offcanvas-body .nav-link:focus, .offcanvas .offcanvas-body .nav-link:active {
  color: #9B6A5D !important;
  opacity: 1 !important;
  font-weight: 800 !important;
}
.offcanvas .offcanvas-body .nav-link:hover {
  transform: scale(0.7) !important;
}
.offcanvas .offcanvas-footer .reseaux a {
  margin-right: 10px;
}
.offcanvas .offcanvas-footer .reseaux a i {
  color: #2C231E !important;
  font-size: 30px;
}

#loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2C231E;
  background-color: #EBE7E0;
}

.text-container {
  z-index: 2;
  position: relative;
}
.text-container .greeting {
  font-size: 5rem;
  width: 100%;
  font-weight: 300 !important;
  line-height: 0.9em !important;
  word-wrap: break-word;
  letter-spacing: 0.5px !important;
  font-family: "Arapey", serif !important;
}
@media (max-width: 480px) {
  .text-container .greeting {
    font-size: 3rem !important;
  }
}
.text-container .counter {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.3px;
  font-family: "Work Sans", sans-serif;
}

#greeting {
  opacity: 1;
  transition: opacity 0.8s ease;
}

#background-animation {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  transition: all 1s ease;
}

.line {
  width: 1px;
  height: 100%;
  position: fixed;
  background-color: #2C231E;
}

.line-left {
  left: 60px;
}
@media (max-width: 480px) {
  .line-left {
    left: 30px !important;
  }
}
@media (max-width: 992px) {
  .line-left {
    left: 52px;
  }
}

.line-right {
  right: 60px;
}
@media (max-width: 480px) {
  .line-right {
    right: 30px !important;
  }
}
@media (max-width: 992px) {
  .line-right {
    right: 52px;
  }
}

.btn-location,
.btn-languages {
  left: 1rem;
  z-index: 100;
}

.btn-location {
  bottom: 5rem;
}
.btn-location .fa-map-pin {
  font-size: 18px !important;
  margin-right: 10px;
}

.btn-languages {
  left: 1rem;
  bottom: 1rem;
  border: 1px solid #2C231E !important;
  background-color: #EBE7E0 !important;
}
.btn-languages:hover, .btn-languages:focus, .btn-languages:active {
  color: #2C231E !important;
}

.flag {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn {
  font-size: 13px;
  font-weight: 500;
  padding: 12px 24px;
  color: #2C231E;
  text-align: center;
  border: 1px solid #2C231E;
  border-radius: 0px !important;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.btn i {
  margin-left: 5px;
  color: #9B6A5D !important;
  font-size: 13px !important;
}
.btn:hover, .btn:focus, .btn:active {
  transition: all 0.3s ease-in-out !important;
}
.btn:hover i, .btn:focus i, .btn:active i {
  color: #9B6A5D !important;
}

.card {
  border-radius: 0px;
  position: relative;
  transition: transform 0.3s;
  background-color: transparent !important;
}

.card-project {
  height: 700px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .card-project {
    height: 480px !important;
  }
}
.card-project:nth-of-type(1), .card-project:nth-of-type(2) {
  border-left: none !important;
}
@media (max-width: 480px) {
  .card-project:nth-of-type(1), .card-project:nth-of-type(2) {
    border-bottom: none !important;
  }
}
@media (max-width: 992px) {
  .card-project:nth-of-type(1), .card-project:nth-of-type(2) {
    border-right: none !important;
  }
}
@media (max-width: 480px) {
  .card-project:nth-of-type(2) {
    border-top: none !important;
  }
}
.card-project:nth-last-child {
  border: none !important;
}
.card-project__content {
  z-index: 2;
  position: relative;
  transition: opacity 0.3s ease;
}
.card-project__title {
  font-size: 35px !important;
}
.card-project__status {
  color: #9B6A5D;
  font-weight: 600;
}
.card-project__img, .card-project__overlay {
  inset: 0;
  z-index: 1;
  opacity: 0;
  position: absolute;
}
.card-project__img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease;
}
.card-project__overlay {
  transition: opacity 0.3s ease;
}
.card-project:hover .card-project__img, .card-project:focus .card-project__img, .card-project:active .card-project__img {
  opacity: 0.6;
}
.card-project:hover .card-project__overlay, .card-project:focus .card-project__overlay, .card-project:active .card-project__overlay {
  opacity: 1;
}

.third {
  border-right: none !important;
}

.modal .modal-content {
  border-radius: 0 !important;
}
@media (max-width: 480px) {
  .modal .modal-content {
    padding: 1.5rem !important;
  }
  .modal .modal-content h5 {
    font-size: 24px !important;
  }
}
.modal .modal-content .modal-header {
  border-bottom: none !important;
}

.introduction {
  padding: 20rem 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-attachment: fixed;
  background-image: url("../../../kahinadev/assets/img/home/bg-home.png");
}
@media (max-width: 480px) {
  .introduction {
    padding: 12rem 3rem 10rem 3rem !important;
    background-attachment: scroll !important;
  }
}
@media (max-width: 1280px) {
  .introduction {
    background-attachment: initial !important;
  }
}

.projects-selection {
  padding: 0 3.2rem !important;
}
@media (max-width: 480px) {
  .projects-selection {
    padding: 0 2rem !important;
  }
}
.projects-selection .container {
  padding: 11rem 8rem;
}
@media (max-width: 480px) {
  .projects-selection .container {
    padding: 5rem 1.7rem !important;
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 992px) {
  .projects-selection .container {
    text-align: center;
    padding: 8rem 7rem;
  }
}
@media (max-width: 480px) {
  .projects-selection .container br {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .about h1 br {
    display: none !important;
  }
}

.career__title, .career__content {
  padding: 11rem 8rem;
}
@media (max-width: 480px) {
  .career__title, .career__content {
    padding: 5rem 2rem !important;
  }
}
@media (max-width: 480px) {
  .career .container-fluid {
    padding: 0rem 2.7rem !important;
  }
}
@media (max-width: 480px) {
  .career .container-fluid .border-right {
    border-right: none !important;
  }
}
@media (max-width: 480px) {
  .career__title {
    text-align: center !important;
  }
}
@media (max-width: 992px) {
  .career__title {
    border-bottom: 1px solid #2C231E !important;
  }
}
.career__content__title {
  font-weight: 400 !important;
  font-size: 25.3px !important;
}

.sticky-col {
  position: sticky;
  top: 2rem;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.sticky-col.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
