.border-top {
  border-top: 1px solid var(--border) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--border) !important;
}

.border-left {
  border-left: 1px solid var(--border) !important;
}

.border-right {
  border-right: 1px solid var(--border) !important;
}

.border-all {
  border: 1px solid var(--border) !important;
}

.bg-dark {
  background-color: var(--background) !important;
}

.theme-light {
  --text: #11101e;
  --background: #eeecf3;
  --primary: #b1a8cd;
  --secondary: #766a95;
  --accent: #443257;
  --border: rgba(17, 16, 30, 0.5450980392);
}

.theme-dark {
  --text: #E3E2EF;
  --background: #0f0d14;
  --primary: #3d3359;
  --secondary: #766a95;
  --accent: #d4c9e0;
  --border: rgba(227, 225, 239, 0.5450980392);
}

body {
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle {
  position: relative;
}
#theme-toggle i {
  color: var(--text);
  font-size: 38px;
}
@media (max-width: 576px) {
  #theme-toggle i {
    font-size: 36px !important;
  }
}
#theme-toggle #icon-sun {
  display: block;
}
#theme-toggle #icon-moon {
  display: none;
}
#theme-toggle.is-light #icon-sun {
  display: none !important;
}
#theme-toggle.is-light #icon-moon {
  display: block !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

section .container {
  position: relative;
  overflow: hidden;
  max-width: 66.8%;
}
@media (max-width: 576px) {
  section .container {
    max-width: 100% !important;
  }
}
@media (max-width: 1110px) {
  section .container {
    max-width: 100%;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@font-face {
  font-family: "Cyber cipher";
  src: url("../../assets/fonts/title/CyberCipher.woff2") format("woff2"), url("../../assets/fonts/title/CyberCipher.woff") format("woff");
}
@font-face {
  font-family: "Orbitron";
  src: url("../../assets/fonts/text/Orbitron-Regular.woff2") format("woff2"), url("../../assets/fonts/text/Orbitron-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../assets/fonts/text/Orbitron-Medium.woff2") format("woff2"), url("../../assets/fonts/text/Orbitron-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../assets/fonts/text/Orbitron-SemiBold.woff2") format("woff2"), url("../../assets/fonts/text/Orbitron-SemiBold.woff") format("woff");
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  word-break: break-word;
  letter-spacing: 1.2px;
  font-family: "Cyber cipher", sans-serif;
}
@media (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 4.5rem !important;
  }
}
@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 5.8rem;
  }
}
@media (max-width: 1110px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1 !important;
  }
}
@media (min-width: 1110px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 7.5rem !important;
  }
}

h2 {
  color: var(--text);
  word-break: break-word;
  letter-spacing: 1.2px;
  font-family: "Cyber cipher", sans-serif;
}
@media (max-width: 576px) {
  h2 {
    font-size: 4.2rem !important;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 5.8rem;
  }
}
@media (max-width: 1110px) {
  h2 {
    line-height: 1 !important;
  }
}
@media (min-width: 1110px) {
  h2 {
    font-size: 6.2rem !important;
  }
}

h3 {
  color: var(--text);
  word-break: break-word;
  letter-spacing: 1.2px;
  font-family: "Cyber cipher", sans-serif;
}
@media (max-width: 576px) {
  h3 {
    font-size: 3.5rem !important;
  }
}
@media (max-width: 992px) {
  h3 {
    font-size: 5.4rem;
  }
}
@media (max-width: 1110px) {
  h3 {
    line-height: 1 !important;
  }
}
@media (min-width: 1110px) {
  h3 {
    font-size: 6.1rem !important;
  }
}

h4 {
  color: var(--text);
  word-break: break-word;
  letter-spacing: 1.2px;
  font-family: "Cyber cipher", sans-serif;
}
@media (max-width: 576px) {
  h4 {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 992px) {
  h4 {
    font-size: 5.2rem;
  }
}
@media (max-width: 1110px) {
  h4 {
    line-height: 1 !important;
  }
}
@media (min-width: 1110px) {
  h4 {
    font-size: 2.2rem !important;
  }
}

h5 {
  color: var(--text);
  word-break: break-word;
  letter-spacing: 1.2px;
  font-family: "Cyber cipher", sans-serif;
}
@media (max-width: 576px) {
  h5 {
    font-size: 1rem !important;
  }
}
@media (max-width: 992px) {
  h5 {
    font-size: 2rem;
  }
}
@media (max-width: 1110px) {
  h5 {
    line-height: 1 !important;
  }
}
@media (min-width: 1110px) {
  h5 {
    font-size: 2rem !important;
  }
}

p,
a {
  color: var(--text);
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 576px) {
  p,
  a {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 992px) {
  p,
  a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1110px) {
  p,
  a {
    font-size: 1.2rem;
  }
}

.w-full {
  width: 100% !important;
}

.k-index-sec {
  z-index: 10 !important;
  position: relative !important;
}

.text-justify {
  text-align: justify;
}

.subtitle {
  color: var(--text);
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 700 !important;
  letter-spacing: 1.6px;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 576px) {
  .subtitle {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 992px) {
  .subtitle {
    font-size: 1.6rem;
  }
}
@media (min-width: 1110px) {
  .subtitle {
    font-size: 1.8rem !important;
  }
}
.subtitle br {
  display: none;
}
@media (max-width: 1280px) {
  .subtitle br {
    display: block !important;
  }
}

.k-pad-s {
  padding: 1rem;
}

.k-pad-m {
  padding: 2rem;
}

.k-pad-l {
  padding: 3rem;
}
@media (max-width: 576px) {
  .k-pad-l {
    padding: 2rem !important;
  }
}

.k-pad-xl {
  padding: 4rem 2rem;
}
@media (max-width: 576px) {
  .k-pad-xl {
    padding: 3rem !important;
  }
}

.k-pad-sec {
  padding: 12rem 1rem;
}
@media (max-width: 576px) {
  .k-pad-sec {
    padding: 5rem 1rem !important;
  }
}
@media (max-width: 1110px) {
  .k-pad-sec {
    padding: 12rem 2rem;
  }
}

.header .brand,
.header .btn-toggle {
  color: var(--text);
}
.header .brand {
  font-size: 55px !important;
  font-family: "Cyber cipher", sans-serif !important;
}
@media (max-width: 576px) {
  .header #brand {
    font-size: 36px !important;
  }
}
@media (max-width: 576px) {
  .header .btn-toggle {
    margin-left: -2rem;
  }
}
@media (max-width: 576px) {
  .header .nav-brand {
    padding: 3rem 2rem !important;
  }
}
@media (max-width: 576px) {
  .header .nav-menu {
    width: 34%;
  }
}

@media (max-width: 576px) {
  .navbar-collapse {
    width: 60% !important;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    top: 0;
    left: 0;
    width: 42%;
    z-index: 6;
    height: 100%;
    position: fixed;
    border-right: 1px solid var(--border);
    background-color: var(--background);
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .navbar-collapse {
    width: 66% !important;
  }
}
@media (max-width: 992px) {
  .navbar-collapse .navbar-nav {
    padding: 15rem 1rem;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .navbar-collapse .navbar-nav {
    padding: 10rem 1rem !important;
  }
}

.footer .subtitle {
  font-size: 18px !important;
}
.footer h6 {
  font-size: 15px !important;
}

.navbar-nav {
  min-height: 90px;
}
.navbar-nav .nav-item {
  transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-item:hover, .navbar-nav .nav-item:focus, .navbar-nav .nav-item:active {
  background-color: var(--accent);
}
@media (max-width: 992px) {
  .navbar-nav .nav-item:hover, .navbar-nav .nav-item:focus, .navbar-nav .nav-item:active {
    background-color: transparent !important;
  }
}
.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item:focus .nav-link, .navbar-nav .nav-item:active .nav-link {
  color: var(--background);
  font-weight: 500;
}
@media (max-width: 992px) {
  .navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item:focus .nav-link, .navbar-nav .nav-item:active .nav-link {
    color: var(--accent) !important;
  }
}
@media (max-width: 992px) {
  .navbar-nav .nav-item {
    border: none !important;
    padding: 1rem !important;
  }
}
.navbar-nav .nav-link {
  color: var(--text);
  font-size: 19px !important;
}
.navbar-nav .nav-link-tech {
  letter-spacing: 2px;
  font-family: "Cyber cipher", sans-serif !important;
}
.navbar-nav .nav-link-tech i {
  margin-right: 5px;
}

.navbar-toggler {
  border: none;
  width: 35%;
  border-radius: 0 !important;
}
@media (max-width: 576px) {
  .navbar-toggler {
    width: 100% !important;
    border: none !important;
  }
}
.navbar-toggler .toggler-icon i {
  color: var(--text);
  font-size: 35px;
}

@media (min-width: 576px) {
  .modal .modal-dialog {
    max-width: 720px;
  }
}
.modal .modal-dialog .modal-content {
  border-radius: 0 !important;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: none !important;
}
.modal .modal-dialog .modal-content .modal-header h5 {
  font-size: 1.8rem !important;
}
.modal .modal-dialog .modal-content .modal-header .button-close i {
  font-size: 25px;
  color: var(--text);
}
.modal .modal-dialog .modal-content .modal-header .button-close:hover, .modal .modal-dialog .modal-content .modal-header .button-close:focus, .modal .modal-dialog .modal-content .modal-header .button-close:active {
  background-color: none !important;
}
.modal .modal-dialog .modal-content .modal-header .button-close:hover i, .modal .modal-dialog .modal-content .modal-header .button-close:focus i, .modal .modal-dialog .modal-content .modal-header .button-close:active i {
  color: var(--text);
}
.modal .modal-dialog .modal-content .modal-body .nav-item .nav-link {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: var(--background);
  background-color: var(--text);
}
.modal .modal-dialog .modal-content .modal-body .nav-item .nav-link.active {
  color: var(--background);
  background-color: var(--accent);
}
.modal .modal-dialog .modal-content .modal-body .skill-item {
  font-size: 14px !important;
}

.language {
  width: 16.6%;
}
.language a {
  font-size: 15px !important;
}
.language a .flag {
  height: 20px;
  width: 20px;
  z-index: 3;
  margin-right: 6px;
}
@media (max-width: 576px) {
  .language a .flag {
    margin-right: 0 !important;
  }
}
@media (max-width: 576px) {
  .language a span {
    display: none !important;
  }
}

.vertical-line {
  width: 1px;
  height: 100%;
  z-index: 2;
  background-color: var(--border);
}

.vertical-line-left {
  left: 0;
}

.vertical-line-middle {
  left: 16.6%;
}
@media (max-width: 1110px) {
  .vertical-line-middle {
    display: none !important;
  }
}

.vertical-line-right {
  right: 16.6%;
}
@media (max-width: 1110px) {
  .vertical-line-right {
    right: 0 !important;
  }
}

.btn {
  font-size: 22px !important;
  color: var(--text);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0 !important;
  font-family: "Cyber cipher", sans-serif !important;
}

.btn-h {
  transition: all 0.3s ease-in-out !important;
}
.btn-h:hover, .btn-h:focus, .btn-h:active {
  color: var(--background);
  background-color: var(--text);
}

.moving {
  overflow: hidden;
}
.moving__track {
  display: flex;
  white-space: nowrap;
  animation: move linear 15s infinite;
}
.moving__item {
  font-size: 22px !important;
  margin-right: 1rem;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (prefers-reduced-motion: reduce) {
  .moving__track {
    animation: none;
  }
}
.card {
  border-radius: 0 !important;
  background-color: transparent !important;
}

.card-service {
  min-height: 580px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: var(--background);
  transition: background-color 0.3s ease;
}
@media (max-width: 576px) {
  .card-service {
    min-height: 480px !important;
  }
}
@media (max-width: 1110px) {
  .card-service {
    min-height: 630px;
  }
}
.card-service:hover .card-service__title {
  transform: translateY(-250px);
}
@media (max-width: 1110px) {
  .card-service:hover .card-service__title {
    transform: translateY(-350px) !important;
  }
}
@media (max-width: 1280px) {
  .card-service:hover .card-service__title {
    transform: translateY(-300px);
  }
}
@media (max-width: 576px) {
  .card-service:hover #card-service-title {
    margin-left: 2rem !important;
    transform: translateY(-220px) !important;
  }
}
.card-service:hover .card-service__text {
  bottom: 0;
}
.card-service__number {
  width: 150px;
  background-attachment: var(--background);
}
@media (max-width: 576px) {
  .card-service__number {
    width: 150px !important;
  }
}
@media (max-width: 1110px) {
  .card-service__number {
    width: 220px;
  }
}
.card-service__title, .card-service__text {
  position: absolute;
}
.card-service__title {
  bottom: 20px;
  margin-left: 3rem;
  transition: transform 0.4s ease;
}
.card-service__text {
  left: 0;
  bottom: -100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  transition: bottom 0.4s ease;
}

.list-project li {
  position: relative;
}
.list-project li:hover .list-project__content, .list-project li:focus .list-project__content, .list-project li:active .list-project__content {
  opacity: 0.7;
  transform: translateY(-10px);
}
.list-project li:hover img, .list-project li:focus img, .list-project li:active img {
  opacity: 1;
  z-index: 5;
  transform: translate(-50%, -50%) scale(1);
}
.list-project__content {
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.list-project__content .subtitle {
  color: var(--accent) !important;
}
.list-project__image {
  top: 50%;
  left: 50%;
  z-index: 5;
  opacity: 0;
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
@media (max-width: 576px) {
  .list-project__image {
    max-width: 280px;
    max-height: 280px;
  }
}

.contact-button {
  display: block;
}
.contact-button i {
  margin-right: 5px;
}

@media (max-width: 576px) {
  .about .image {
    border-right: none !important;
  }
}
.about__image {
  height: 700px;
}
@media (max-width: 576px) {
  .about__image {
    height: 300px !important;
  }
}
@media (max-width: 1280px) {
  .about__image {
    height: 480px;
  }
}
@media (max-width: 1280px) {
  .about .about-me {
    width: 100% !important;
  }
}
@media (max-width: 1280px) and (max-width: 1280px) {
  .about .about-me {
    border-top: 1px solid var(--border) !important;
  }
}

/*# sourceMappingURL=style.css.map */
