// ===============================================
// ABOUT
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.profile {
    img {
        height: 420px;
    }
}