// ===============================================
// HISTORY
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.history {
    img {
        top: $zero;
        z-index: -5;
        width: 33.4%;
        height: $img-height-desktop;
        position: fixed !important;

        @include respond-to(sm, max) {
            height: $img-height-mobile !important;
        }

        @include respond-to(lg, max) {
            width: $full;
            height: $img-height-tablet;
        }
    }
}

.history__content {

    .history__content-one,
    .history__content-two,
    .history__content-three,
    .history__content-four,
    .history__content-five {
        display: $flex;
        flex-direction: $column;
        justify-content: center;
    }

    .history__content-one {
        top: $zero;
        opacity: 1 !important;
        position: sticky;
        z-index: 5;
        min-height: $min-height-content-desktop;
        transform: $none !important;

        @include respond-to(lg, max) {
            min-height: 43vh;
        }
    }

    .history__content-two,
    .history__content-three,
    .history__content-four,
    .history__content-five {
        min-height: $min-height-content-desktop;
        opacity: $zero;
        z-index: 10;
        position: relative;
        transform: translateY(40px);
        transition: opacity .7s ease, transform .7s ease;

        @include respond-to(lg, max) {
            min-height: 70vh;
        }

        .mt-3 {
            @include respond-to(sm, max) {
                margin-top: $zero !important;
            }
        }

    }

    .visible {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    .qualities-item,
    .values-item .hobbies-item {
        i {
            margin-right: 10px;
        }
    }
}