// ===============================================
// HOME
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.about {
    .image {
        @include respond-to(sm, max) {
            border-right: $none !important;
        }

    }

    &__image {
        height: 700px;

        @include respond-to(sm, max) {
            height: 300px !important;
        }

        @include respond-to(xxl, max) {
            height: 480px;
        }
    }

    .about-me {
        @include respond-to(xxl, max) {
            width: $full !important;

            @include respond-to(xxl, max) {
                border-top: $border !important;
            }
        }
    }
}