// ===============================================
// HOME
// ===============================================

// =========== VARIABLES ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.introduction {
    img {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
}

.services {
    .col-service {
        @include respond-to(sm, max) {
            padding: $zero !important;
        }
    }
}

.contact {
    .contact-button {
        color: $background;
    }
}