// ===============================================
// HOME
// ===============================================

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== GENERAL ===========

.return {
    i {
        margin-right: 5px;
    }
}