// ===============================================
// PORTFOLIO
// ===============================================

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// -----------------------------------------------
// Initial
// -----------------------------------------------

.ka-portfolio {
    padding-top: 8rem;

    @include respond-to(xl) {
        padding: 15rem 0 8rem 0rem;
    }

    h1 {
        margin-bottom: 2rem;

        @include respond-to(lg) {
            margin-bottom: 5rem;
        }
    }

    .project-item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .project-link {
            margin-bottom: 1rem;
        }
    }
}