// =======================================
// PROJECT
// ======================================= 

// =========== VARIABLES & MIXINS ===========

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// =========== INTRODUCTION ===========
.project-introduction {
    &__service {
        padding: $btn-padding;
        color: $color-details !important;
        font-size: 14px !important;
    }

    h1 {
        @include respond-to(sm, max) {
            font-size: 39px !important;
            margin-top: 2.5rem !important;
        }
    }
}

.project-colors {
    &__bg {
        gap: 15px;
        margin-top: 1rem;

        @include respond-to(sm, max) {
            flex-wrap: wrap;

            span {
                width: calc(50% - 8px) !important;
            }
        }

        span {
            width: 25%;
            height: 50px;
            padding: 5rem;
        }
    }
}

.project-universe {
    padding-top: 80px;
}